﻿<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Frontend Applicant Test</title>
  
  <link rel="stylesheet" href="dist/styles.css">
  <script src="dist/angular.min.js"></script>
  <script src="dist/app.js"></script>
  
</head>
<body ng-app="app">
  <div ng-controller="ReportCtrl">

    <h2>Content Report</h2>

    <div id="indicators">
      <div id="counts">
        <span class="channel-count">Total Channel Count: {{channelTotal}} </span>
        <span class="device-count">Total Device Count: {{deviceTotal}} </span>
      </div>
      
      <div id="dropdown">
        <select
          ng-model="selectedCountry"
          ng-options="country.name for country in data">


        </select>
      </div>
    </div>
    
    <div id="charts">
      
      <bar ng-show="selectedCountry.showAll || country.name == selectedCountry.name"
           ng-if="$index > 0"
           ng-repeat="country in data"
           data="country"
           name="country.name"
           devices="country.metrics.Devices"
           channels="country.metrics.Channels" />
    </div>
</body>
</html>
